[submodule "cub"]
    path = cub
    url = https://github.com/NVlabs/cub.git
[submodule "util"]
	path = util
	url = https://github.com/llnl/simutil.git
[submodule "recbis"]
	path = recbis
	url = https://github.com/LLNL/recbis
